body{
	background: url("Images/landingPage.jpeg");
	background-repeat: no-repeat;
  	background-size: cover;
}

.title{
	text-align: center;
	color: white;
	font-size: 72px;
	padding-top: 200px;
}

.sub-title{
	text-align: center;
	color: white;

}

.login{
	
	display: flex;
  	justify-content: center;
  	align-items: center;
  	height: 200px;

	
}

.loginButton{
	border: none;
  	color: white;
  	padding: 15px 32px;
 	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 16px;
  	border-radius: 20px;
	margin-right: 10px;
	color: black;
	transition-duration: 0.4s;
	
  	
}

.loginButton:hover{
	background-color: skyblue; 
  	color: white;
}

.signupButton{
	border: none;
  	color: white;
  	padding: 15px 32px;
 	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 16px;
  	border-radius: 20px;
  	margin-left: 10px;
  	color: black;
	
  	
}

.signupButton:hover{
	background-color: skyblue; 
  	color: white;
}








